*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    color: azure;
}
body{
    background-color: rgb(44, 35, 18);
}
table{
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(167, 18, 122);
}
th, td{
    border: 1px solid black;
    padding: 10px;
    color: antiquewhite;
}